*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Modernija i popularna font opcija */
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    background-color: #f0f0f0; /* Subtilnija nijansa */
    border-bottom: 2px solid #ccc; /* Dodan moderniji stil */
}

footer {
    background: linear-gradient(to bottom, #87ceeb, #333); /* Blago prilagođena paleta boja */
    display: flex; /* Dodano za jasniju centriranost */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white; /* Dodan kontrast za čitljivost */
}

main {
    background-color: #b0c4de; /* Moderniji ton plave boje */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
    align-items: center;
    text-align: center;
    padding: 20px; /* Dodan padding za ugodniji raspored sadržaja */
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem; /* Korištenje rem za bolje prilagođavanje */
    padding: 20px;
}

table {
    padding: 10px;
    background-color: #e0ffff; /* Osvježena nijansa */
    border-radius: 20px;
    border: 2px solid #4A4A4A;
    border-spacing: 10px;
    width: 60%; /* Veći prostor za preglednost */
    border-collapse: collapse;
}

td, th {
    border: 2px solid #4A4A4A;
    padding: 10px; /* Dodan padding za bolju čitljivost */
}

form {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 400px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Dodan efekt sjene */
}

input, select {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc; /* Dodan moderniji okvir */
    border-radius: 5px; /* Zaobljeni rubovi za moderniji izgled */
}

button[type="submit"], input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; /* Bolje prilagođavanje */
    transition: background-color 0.3s, transform 0.3s; /* Dodan efekt transformacije */
}

button[type="submit"]:hover, input[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.05); /* Dodan efekt povećanja kod hovera */
}


